div#historycontainer {
  position:relative;
  width:100%;
  box-sizing:border-box;
  overflow-x:auto;
  -webkit-overflow-scrolling: touch;
  white-space:nowrap;  
  padding-left:10px;
}

div#history {
  position:relative;
  display:table-cell;
  width:100%;
  height:115px;
  vertical-align:bottom;
  white-space:nowrap;
}

div#historycontainer::-webkit-scrollbar { 
  display: none; 
} 

.historyitem {
  border-radius:5px;
  border: 2px solid black;
  padding: 2px 5px 2px 5px;
  margin-left:3px;
  text-align:center;
  vertical-align:bottom;
  display:inline-block;
  line-height:25px;
  min-width:50px;
  position:relative;
  bottom:10px;
  
  transition: all 1s ease;
}

.historyitem span {
    display:inline-block;
}

.historyitem::before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  bottom: -12px;
  border: 3px solid white;
}

.historyitem.reddealer::before {
    border-color:var(--red-color);
}

.historyitem.bluedealer::before {
    border-color:var(--blue-color);
}

.historyitem.connecthand::before {
    left:-10px;
}

.historydetails {
    display:inline-block;
    min-width:0;
    max-width:0;
    overflow-x:hidden;
    vertical-align:bottom;
    white-space:nowrap;
    transition: min-width 1s ease, max-width 1s ease, margin-left 1s ease;
}

.historybig {
  line-height:95px;
  height:95px;
  width:95px;
  min-width:75px;
  font-size:60px;
}

#currentscore > .currentvalue {
}

.historyoffscreen {
  margin-left:-94px;
}

.redhistoryitem {
  border-color:var(--red-color);
  color: var(--red-color);
}

.bluehistoryitem {
  border-color:var(--blue-color);
  color:var(--blue-color);
}

.historyelt {
    margin-right:5px;
}

#historyundo {
  font-size:16px;
}